@font-face {
  font-family: 'mov.ai';
  src: url(./icomoon.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mov.ai' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-widget:before {
  content: "\e900";
}
.icon-tree:before {
  content: "\e903";
}
.icon-Statistics:before {
  content: "\e906";
}
.icon-Scenes:before {
  content: "\e907";
}
.icon-Sad:before {
  content: "\e908";
}
.icon-repeat:before {
  content: "\e909";
}
.icon-packages:before {
  content: "\e90c";
}
.icon-outline-off:before {
  content: "\e90d";
}
.icon-outline:before {
  content: "\e90e";
}
.icon-out:before {
  content: "\e90f";
}
.icon-Nodes:before {
  content: "\e911";
}
.icon-Layouts:before {
  content: "\e913";
}
.icon-info:before {
  content: "\e914";
}
.icon-in:before {
  content: "\e915";
}
.icon-Happy:before {
  content: "\e916";
}
.icon-grid:before {
  content: "\e917";
}
.icon-Filters:before {
  content: "\e918";
}
.icon-expand_more:before {
  content: "\e919";
}
.icon-expand_less:before {
  content: "\e91a";
}
.icon-Empty:before {
  content: "\e91b";
}
.icon-edit:before {
  content: "\e91c";
}
.icon-drag_indicator:before {
  content: "\e91d";
}
.icon-download:before {
  content: "\e91e";
}
.icon-details:before {
  content: "\e91f";
}
.icon-delete:before {
  content: "\e920";
}
.icon-create_new_folder:before {
  content: "\e921";
}
.icon-chevron_right:before {
  content: "\e923";
}
.icon-chevron_left:before {
  content: "\e924";
}
.icon-heck_circle:before {
  content: "\e925";
}
.icon-carts:before {
  content: "\e926";
}
.icon-Callbacks:before {
  content: "\e928";
}
.icon-Annotations:before {
  content: "\e929";
}
.icon-add:before {
  content: "\e92b";
}

